.button-container {
  height: 100px;
  display: flex;
  align-items: center;
}
.list-container {
  display: flex;
  padding: 10px;
}

.item-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.item-size {
  flex: 0 0 auto;
}

.item_icon_and_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-icon {
  margin-right: 10px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: #fff;
}

.type_dir {
  background: red;
}
.filesystem_item {
  height: 150px;
  cursor: pointer;
}
.fs_item {
  cursor: pointer;
}
.fs_item:hover {
  background: grey;
}